.playVideoBox{
    flex: 1 1 63%;
    padding:0.2em;
}
.iframeBox{
    margin: 10px 0 20px 0;
    position: relative;
    width:100%;
    padding-bottom: 56.25%;
}
iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.videoContainer{
    width: 100%;
    font-size:12px;
}
.line{
    margin:16px 0 8px 0;
    height:1px;
    width: 100%;
    background-color: var(--color-gray);
}
.tags{
    color: var(--color-blue);
    font-weight: 500;
}
.title{
    font-size: 20px;
    font-weight: 400;
}
.viewInfo{
    display:flex;
    justify-content: space-between;
    margin: 8px 0;
}
.viewCountAndDate,.moreBtn{
color:var(--color-light-gray);
}
.btnContainer{
    display: flex;
    font-size: 24px;
}
.btnContainer button{
    color: var(--color-light-gray);
    margin-left: 8px;
}
.btnBold{
    font-weight: bold;
}
.btnContainer button i{
margin-right: 8px;
font-size: 22px;
}
.channelContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    margin: 16px 0;
}
.channelInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.channelImg,.channelName{
    cursor: pointer;
    font-weight: 400;
}
.subscribers{
    font-size: 12px;
    color:var(--color-light-gray);
}
.subscribe{
    font-size: 16px;
    background-color: var(--color-red);
    color: white;
    border-radius: 4px;
    padding: 8px 20px;
}

.channelImg{
    border-radius: 50%;
    width:50px;
    height:50px;
    margin-right: 15px;
}
.channelStart{
    display: flex;
}

/* .more{
    font-size: 12px;
} */
.notMore{
    white-space: pre-wrap;
    padding: 0 60px;
    display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 3; 
	-webkit-box-orient: vertical;
    font-size: 14px;
    font-weight:400;
    line-height: 20px;
}
.moreBtn{
    padding: 0 59px;
}
.comments1,.comments2{
    margin: 4px 0;
    font-size: 16px;
}
.comments1{
    display:block;
}
/* .comments2{
    display: none;
} */
@media screen and (max-width:1000px){
    .playScreen{
        flex-direction: column;
        margin-top: 60px;
        padding: 10px 60px;
    }
    .comments1{
        display:none;
    }
    /* .comments2{
        display: block;
    } */
}