.channelContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    margin: 1em 0;
}
.channelInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.channelImg,.channelName{
    cursor: pointer;
    font-weight: 400;
}
.subscribers{
    font-size: 0.7rem;
    color:var(--color-light-gray);
}
.subscribe{
    font-size: 0.9rem;
    background-color: var(--color-red);
    color: white;
    border-radius: 4px;
    padding: 0.5em 1.2em;
}

.channelImg{
    border-radius: 50%;
    width:2.5rem;
    height:2.5rem;
    margin-right: 1em;
}
.channelStart{
    display: flex;
}