
.descriptionBox{
    padding: 0 5em;
}
.description{
    white-space: pre-wrap;
    font-size: 0.76rem;
    font-weight:400;
    line-height: 1.3rem;
}
.moreBtn{
    color:var(--color-light-gray);
    padding:0;
    }
.close{
    display: -webkit-box;
	overflow: hidden;
    -webkit-line-clamp: 2; 
	-webkit-box-orient: vertical;
}