.sidebar{
    position:fixed;
    left:0;
    top:0;
    display: flex;
    flex-direction: column;
    padding:2.8rem 0;
    height:100vh;
    background-color:var(--color-dark-gray);
}
.btn{
padding:2.2em 1.7em 2em 1.7em;
font-size: 0.55rem;
background-color: transparent;
color:var(--color-light-gray);
}
.btn:hover{
  background-color: var(--color-gray);
}
.btn i{
    display: block;
    margin: auto;
    font-size: 1rem;
    padding-bottom: 0.3em;
}
@media screen and (max-width:680px){
    .sidebar{
      display: none;
    }
  }