
.search{
    display: flex;
    align-items: center;
    width:90%;
}
.searchInput{
    display: inline-block;
    border:0.5px solid var(--color-gray);
    background-color: var(--color-black);
    height:1.7rem;
    width:100%;
    margin-right: 0.5px;
    font-size: 1rem;
    color: white;
    padding-left: 0.5em;
}
.searchInput[type="text"]:focus{
    border-color: var(--color-blue);
    outline: 0;
}
.searchIconBtn{
    background-color: var(--color-gray);
    height: 1.7rem;
    width: 4rem;
    margin-left:0;
}
.searchIcon{
    width:0.8rem;
    height:0.8rem;
    color: var(--color-middle-gray);
}