.app{
  max-width: 60rem;
  color: white;
}
.content{
  display:flex;
}
.detail{
  flex: 1 1 70%;
}
.list{
  flex:1 1 30%;
}
.loadingScreen{
  width: 100%;
  height:90vh;
  position: relative;
}
.loadingSpinner{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:30px;
  height:30px;
  border-radius: 50%;
  border:5px solid rgb(179, 194, 201);
  border-top: 5px solid rgb(64, 72, 75);
  animation: spin 1s linear infinite;
}
@keyframes spin{
  0% {transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}